<html>
	<head>
		<title>Land Wars</title>

		<script src="js/lib/jquery-2.1.4.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/angular-route.min.js"></script>
		<script src="js/lib/angular-cookies.min.js"></script>
		<script src="socket.io/socket.io.js"></script>

		<script src="app/app.js"></script>

		<script src="app/setup/Services.js"></script>
		<script src="app/setup/Config.js"></script>
		<script src="app/setup/Run.js"></script>

		<script src="app/controllers/CreateController.js"></script>
		<script src="app/controllers/LobbyController.js"></script>
		<script src="app/controllers/GameController.js"></script>

		<!-- Start game code -->
		<script src="js/game/enums.js"></script>
		<script src="js/game/button.js"></script>
		<script src="js/game/collisions.js"></script>
		<script src="js/game/global.js"></script>
		<script src="js/game/pubsub.js"></script>
		<script src="js/game/socketManager.js"></script>
		<script src="js/game/tileHelper.js"></script>
		<script src="js/game/spriteHandler.js"></script>
		<script src="js/game/sprite.js"></script>
		<script src="js/game/inputHandler.js"></script>
		<script src="js/game/control.js"></script>
		<script src="js/game/gameClass.js"></script>
		<script src="js/game/tileManager.js"></script>
		<script src="js/game/tile.js"></script>
		<script src="js/game/soldierManager.js"></script>
		<script src="js/game/soldier.js"></script>
		<script src="js/game/stageManager.js"></script>
		<script src="js/game/hud.js"></script>
		<script src="js/game/shipManager.js"></script>
		<script src="js/game/ship.js"></script>
		<script src="js/game/action.js"></script>
		<script src="js/game/actionQueue.js"></script>
		<script src="js/game/fightManager.js"></script>
		<!-- End game code -->

		<link rel="stylesheet" href="css/main.css" />
		<link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>

	</head>

	<body ng-app="App">
		<div class="wall"></div>

		<div class="container-fluid wrapper">
			<header>
				<div>
					<h1 class="title">Land Wars</h1>
				</div>
			</header>

			<nav>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Lobby</a></li>
					<li><a href="#">Game</a></li>
					<li><a href="#">Account</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</nav>

			<main class="ng-view bs-component">
			</main>

			<footer>
				&copy; Harry Boyes 2016
			</footer>
		</div>
	</body>

	<script>
		// Not a fan of this way of getting the user into angular, but it'll do for now
		window.user = {{{toJSON user}}};
	</script>
</html>
