<html>
  <head>
    <title>Land Wars Authentication</title>
  </head>
  <body>
    <p>Login or Register with:</p>
    <a href="{{{authUrl}}}" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
  </body>
</html>
