<html>
  <head>
    <title>Land Wars Authentication</title>
    <script>
      if (window.location != window.parent.location)
        window.parent.location = "{{{authUrl}}}";
      else
        window.location = '{{{authUrl}}}';
    </script>
  </head>
  <body>
    <p>Please login with Facebook:</p>
    <a href="{{{authUrl}}}" class="btn btn-primary" target="_parent"><span class="fa fa-facebook"></span>Facebook</a>
  </body>
</html>
