<html>
  <head>
    <title>Land Wars Authentication</title>
  </head>
  <body>
    <p>Please login with Facebook:</p>
    <a href="{{{authUrl}}}" class="btn btn-primary" target="_parent"><span class="fa fa-facebook"></span>Facebook</a>
  </body>
</html>
