button {
  width: 150px;
}
button span {
  font-size: 22px;
}
p {
  margin: 0;
  font-size: 18px;
  font-family: verdana;
}
body {
  background-color: #601F00;
  font-family: 'Trebuchet MS';
}
.wrapper {
  min-width: 400px;
  max-width: 800px;
  min-height: 600px;
  position: relative;
  margin: 0 auto;
  background-color: #351000;
  border: 3px #BC6C46 solid;
  padding: 20px;
}
.wrapper > div {
  position: relative;
  background-color: #fff;
  border: 3px #BC6C46 solid;
  min-height: 560px;
  padding: 30px;
}
.wrapper > div h1 {
  text-align: center;
}
.wrapper > div table {
  margin: 5px;
  width: calc(100% - 10px);
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper > div table th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #2E0F00;
  color: #BC6C46;
}
.wrapper > div table th:not(:first-child) {
  border-left: 1px solid #BC6C46;
}
.wrapper > div table tr {
  height: 20px;
  border: 2px #000 solid;
  background-color: #BC6C46;
  color: #2E0F00;
}
.wrapper > div table tr td {
  padding: 4px 0px 3px 5px;
}
.wrapper > div table tr td:not(:first-child) {
  border-left: 1px solid #2E0F00;
}
.wrapper > div table tr td button {
  width: 100%;
}
.wrapper > div table th.options,
.wrapper > div table tr.options {
  width: 150px;
}
.game {
  position: relative;
}
.game .canvasWrapper {
  background-color: #fff;
  border: 3px #BC6C46 solid;
  margin-bottom: 20px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.game .canvasWrapper #gameCanvas {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.game #gameControls {
  border: 3px #BC6C46 solid;
  margin: auto;
  position: relative;
  background-color: #fff;
  height: 125px;
}
