<div id="gameWrapper">
	<div class="game">
		<div class="canvasWrapper bs-component" style="margin-bottom: 15px; text-align: center">
			<canvas id="gameCanvas" style="width: 100%">
			</canvas>
		</div>
		<div id="gameControls" class="row bs-component">
			<div class="col-xs-3">
				<p>
					Current Turn: <span id='currentTurn'></span>
				</p>
				<p>
					<span id='enemyName'></span>: <span id='enemyOnline'></span>
				</p>
			</div>
			<div class="col-xs-2">
				<p>
					Turn Timer: <span id="turnTimer"></span>
				</p>
			</div>
			<div class="col-xs-4">
				<div id="unitSelection" style="display: none">
					<p>
						Name: <span id='unitName'></span>
					</p>
					<p>
						Health: <span id='unitHealth'></span>
					</p>
					<p>
						Strength: <span id='unitStrength'></span>
					</p>
					<p>
						Armour: <span id='unitArmour'></span>
					</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="btn-group-vertical">
					<button id="unitDone" class="btn btn-default">
						<span>Unit Done</span>
					</button>
					<button id="endTurn" class="btn btn-default">
						<span>End Turn</span>
					</button>
				</div>
			</div>
		</div>
		<div style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; pointer-events: none">
		</div>
	</div>
</div>
