<div id="gameWrapper">
	<div class="game">
		<div class="canvasWrapper">
			<canvas id="gameCanvas">
			</canvas>
		</div>
		<div id="gameControls">
			<div id="turnTimer" style="border: 1px solid #000; width: 50px; height: 30px; position: absolute; left: 50%; margin-left: -25px; background-color: #fff; top: 10px; font-size: 25px; font-family: Verdana; text-align: center; top: -610px">10</div>
			<div style="width: 250px; margin: 20px; float: left">
				<p>
					Current Turn: <span id='currentTurn'></span>
				</p>
				<p>
					<span id='enemyName'></span>: <span id='enemyOnline'></span>
				</p>
			</div>
			<div id='unitSelection' style="width: 250px; margin: 20px; float: left; display: none">
				<p>
					Name: <span id='unitName'></span>
				</p>
				<p>
					Health: <span id='unitHealth'></span>
				</p>
				<p>
					Strength: <span id='unitStrength'></span>
				</p>
				<p>
					Armour: <span id='unitArmour'></span>
				</p>
			</div>
			<button id="unitDone" style="position: absolute; right: 25px; top: 25px;">
				<span>Unit Done</span>
			</button>
			<button id="endTurn" style="position: absolute; right: 25px; top: 75px;">
				<span>End Turn</span>
			</button>
		</div>
		<div style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; pointer-events: none">
		</div>
	</div>
</div>